<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Judiciary Information System</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap" rel="stylesheet">

  </head>
  <body>
    <section id="title">

      <!-- Nav Bar -->
      <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Judiciary Information System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="D:\STUDY MATERIAL\Web Development\Mywork\SWE_Project\index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
          </ul>
        </div>
      </nav>

    </section>
    
    <div  class="container_top">
      <h1 class="txt">Judiciary Information System</h1>
     
      <img class="back-ground" src="/images/sup_court.jpg" alt="court-image">
      <h2>WELCOME</h2>
      <p >Here the one stop solution to the Indian Judiciary Information System.</p>
    </div>
    <div class="mid-container">
      <hr>
      <div class="work">
        <h2>Work Station</h2>
        <div class="work-row">
          <a href="/create">
            <img class="registrar-img" src="/images/registrar.png" alt="Registrar-image">
            </a>
            <a href="/create">
          <h3>Registrar</h3></a>
          <p  class="code-skill1">Create an Account
            ,Enter case summary,
            Case Quares and Dates.</p>
        </div>
        <div class="work-row">
          <a href="/list-cases">
            <img class="jugde-img" src="/images/judge_c.png" alt="Judge-image">
          </a>
          <a href="/list-cases">
          <h3>Judge</h3></a>
          <p class="code-skill2">A Judge can check the case dates and past case summary .</p>
        </div>
        <div class="work-row">
          <a href="/list-cases">
            <img class="lawyer-img" src="/images/lawyer.png" alt="Lawyer-image">
         </a>
         <a href="/list-cases">
          <h3>Lawyer</h3></a>
          <p class="code-skill2">A Lawyer can only check the case dates and past case summary.</p>
        </div>
        <!-- <div class="work-row">
          <a href="./payment.html">
            <img class="payment-img" src="/images/payment.png" alt="Payment-image">
       </a><a href="./payment.html">
          <h3>Payment</h3></a>
          <p class="code-skill2">Here Pay your bills and pending fees.</p>
        </div>
      </div> -->
      
      <hr>
      <div class="feedback">
        <h2>Feedback</h2>
        <h3></h3>
        <p>Give any feedback on this website you want to improve and change.</p>
        <a class="btn" href="mailto:prayasbhoi@email.com">FEEDBACK</a>
      </div>
      
     
    </div>
    <div class="bottom-c">
    
      <a class="footer-link" href="D:\STUDY MATERIAL\Web Development\Mywork\SWE_Project\index.html"> Home</a>
      <a class="footer-link" href="https://www.linkedin.com/">  LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">  Twitter</a>
      <p>© Copyright JIS</p>

    </div>
  </body>


</html>
