<li class="">
    <article>
      <h2><%= cases.Casenumber %></h2>
      <div class="">
        <p><%= cases.regdate %></p>
        <p><%= cases.clodate %></p>
      </div>
      <p><%= cases.summary %></p>
      <div class="">
      </div>
    </article>
  </li>